body {
  background-color: #2b4c7e;
  color: #dce0e6;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4 {
  font-family: 'Big Shoulders Text', sans-serif;
  font-weight: 700;
}

code {
  font-family: 'Dank Mono', monospace;
}

.ch-slideshow {
  margin: 0;
}
