._ {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 16/9;
  background-color: #2b4c7e;
  font-size: 3.5vw;

  > :first-child {
    margin-top: 2em;
  }

  > :last-child {
    margin-bottom: 2em;
  }

  & + ._ {
    width: 100%;
  }

  > * {
    margin: 0 4vw 2vw;
  }

  &.small {
    left: auto;
    max-width: 33.7vw;
    height: 56vw;
    justify-content: flex-start;
    aspect-ratio: initial;
    font-size: 2.25em;

    > :first-child {
      margin-top: 2vw;
    }

    > :last-child {
      margin-bottom: 2vw;
    }

    > * {
      margin: 0 2vw 1vw;
    }
  }

  h1,
  h2 {
    color: #7c9bcb;
  }

  h2 {
    // font-size: 1.25em;
  }

  h1 + h2 {
    color: #fff;
    font-size: 1em;
  }

  code {
    padding: 0 0.25em;
    border: 1px solid #000;
    background-color: rgb(40 42 54);
    border-radius: 0.25em;
    color: #7c9bcb;
  }

  footer {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #7c9bcb;
    font-size: 0.5em;
  }
}
